<a href="https://colab.research.google.com/github/goulartsursula/python-uerj/blob/master/primeiro_notebook/analise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd       #leitura de dados
import numpy as np        #cálculo numérico
import matplotlib.pyplot as plt       #plotar dados
import random as rand       #funções para gerar dados aleatórios
from scipy import stats     #analise estatística
from scipy.stats import norm        #distribuição normal
import matplotlib.mlab as mlab      #diagramas mais complicados

In [6]:
doublemu = pd.read_csv('http://opendata.cern.ch/record/545/files/Dimuon_DoubleMu.csv')
sunDat = pd.read_table('http://sidc.oma.be/silso/INFO/sndhemcsv.php', sep = ';', encoding = "ISO-8859-1", header = None, names = ['Year', 'Month', 'Day', 'Fraction', '$P_{tot}$', '$P_{nrth}$', '$P_{sth}$', '$\sigma_{tot}$', '$\sigma_{nrth}$','$\sigma_{sth}$', '$N_{tot}$', '$_{nrth}$', '$N_{sth}$', 'Prov'])
#doublemu.head()

In [7]:
print(len(sunDat))
print(sunDat.shape)
invMass = doublemu.M
invMass.head()

10471
(10471, 14)

0    17.4922
1    11.5534
2     9.1636
3    12.4774
4    14.3159
Name: M, dtype: float64

In [8]:
highEn = doublemu[(doublemu.E1 >= 30) & (doublemu.E2 >= 30)]
highEn.head()
print('Amount of particles with energy >= 30 Gev: ', len(highEn))
print('Amount of total particles', len(doublemu))

Amount of particles with energy >= 30 Gev:  6516
Amount of total particles 100000

In [9]:
alcBev = pd.read_csv('http://avoindata.valvira.fi/alkoholi/alkoholilupa_valmistus.csv', sep = ';', encoding = "ISO-8859-1", na_filter = False)
alcBev.head()

    Y-Tunnus  ... Tilaviinin vähittäismyyntilupa
0  0107011-5  ...
1  0170318-9  ...
2  0171079-2  ...                              X
3  0171110-3  ...
4  0193088-3  ...

[5 rows x 10 columns]

In [10]:
producers = alcBev[alcBev['Nimi'].str.contains('Oy|Ab') == False]
producers.head()

     Y-Tunnus  ... Tilaviinin vähittäismyyntilupa
6   0211675-2  ...
8   0213834-5  ...
18  0851271-3  ...
20  0894365-2  ...
21  0913659-6  ...

[5 rows x 10 columns]

In [11]:
alcBev = alcBev.drop(['Nimi'], axis = 1)
alcBev.head()
# removing a column with .drop

    Y-Tunnus  ... Tilaviinin vähittäismyyntilupa
0  0107011-5  ...
1  0170318-9  ...
2  0171079-2  ...                              X
3  0171110-3  ...
4  0193088-3  ...

[5 rows x 9 columns]

In [12]:
numb = np.linspace(0, 100, len(alcBev))
alcBev = alcBev.assign(R = numb)
alcBev.head()

    Y-Tunnus Luvan alkupvm  ... Tilaviinin vähittäismyyntilupa         R
0  0107011-5    03.02.2014  ...                                 0.000000
1  0170318-9    17.02.1995  ...                                 0.520833
2  0171079-2    25.02.1995  ...                              X  1.041667
3  0171110-3    20.01.1995  ...                                 1.562500
4  0193088-3    25.02.2020  ...                                 2.083333

[5 rows x 10 columns]